.container {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}

.grid1 {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.grid2 img {
  width: 100%;
}

.grid1 .masalaChaiBanner {
  width: 80%;
}

.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height: 80%; */
  border: 1px solid #000;
  width: 18%;
  justify-content: center;
  border-radius: 20px;
}

.right img {
  width: 100%;
}

.right .innerright {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding: 20px 5px;
}

.right .innerright div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.right .innerright div p {
  text-align: center;
  font-size: 1.8vw;
}

.right button {
  width: 100%;
  height: 40%;
  background: #EAB16B;
  font-size: 1.8vw;
  border: 0;
  outline: 0;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

@media(max-width:800px) {
  .container {
    width: 97%;
    gap: 15px;
    margin-top: 20px;
  }
}

@media(max-width:500px) {
  .container {
    width: 97%;
    gap: 10px;
    margin-top: 00px;
  }

  .grid1 .masalaChaiBanner {
    width: 75%;
  }

  .right {
    width: 23%;
  }

  .right .innerright div p {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 5px;
  }

  .right button {
    font-size: 2.2vw;
  }

  .right .innerright div {
    gap: 0px;
  }

  .right .innerright {
    padding: 5px;
  }

  .right .innerright img {
    width: 80%;
  }
}