/* NotFound.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f8f9fa;
}

.error {
  text-align: center;
}

.title {
  font-size: 10rem;
  margin: 0;
  color: #343a40;
}

.message {
  font-size: 1.5rem;
  color: #868e96;
  margin-bottom: 30px;
}

.homeLink {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  border: 1px solid var(--green);
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--green);
  transition: background-color 0.3s, color 0.3s;
}

.homeLink:hover {
  background-color: #fff;
  color: var(--green);
}