.PrimaryLoader {
    border: 4px solid var(--green);
    z-index: 100;
    border-left-color: transparent;
    border-radius: 50%;
  }
  

  .PrimaryLoader {
    border: 4px solid var(--green);
    z-index: 100;
    border-left-color: transparent;
    width: 30px;
    height: 30px;
    animation: spin89345 1s linear infinite;
  }
  
  @keyframes spin89345 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }